- if current_page.data.merch_sidebar_destination_url
  %link{ rel: "stylesheet", type: "text/css", href: "/stylesheets/blog-merchandising-content.css" }
  %div
    %a.merchandising-content-container.merch-sidebar{ href: current_page.data.merch_sidebar_destination_url, target: "_blank" }
      - if current_page.data.merch_sidebar_image_source
        %span.merchandising-image{ style: "background-image: url(#{current_page.data.merch_sidebar_image_source});" }
      %span.merchandising-copy-wrapper
        - if current_page.data.merch_sidebar_body_title
          %span.title
            %span.h4= current_page.data.merch_sidebar_body_title
        - if current_page.data.merch_sidebar_body_content
          %span.content
            %span.p= current_page.data.merch_sidebar_body_content
        - if current_page.data.merch_sidebar_cta_text
          %span.cta-wrapper
            %span.cta-text= current_page.data.merch_sidebar_cta_text
            %img.merchandising-arrow{ src: "/images/solutions/arrow.svg" }
